services:
  users:
    build: ./users-service
    container_name: users-service
    ports:
      - "5001:5001"
  catalog:
    build: ./catalog-service
    container_name: catalog-service
    ports:
      - "5002:5002"
  orders:
    build: ./orders-service
    container_name: orders-service
    ports:
      - "5003:5003"
  nginx:
    image: nginx:latest
    container_name: cloudshop-nginx
    depends_on:
      - users
      - catalog
      - orders
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
