apiVersion: v1
kind Service
metadata:
  name: catalog-service
  labels:
    app: catalog
spec:
  type: ClusterIP
  selector:
    app: catalog
  ports:
    - name: http
      port: 5001
      targetPort: 5001
