apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: cloudshop
  labels:
    app: orders
spec:
  type: ClusterIP
  selector:
    app: orders
  ports:
    - name: http
      port: 5002
      targetPort: 5002
