apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-deployment
  namespace: cloudshop
  labels:
    app: catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: 420828412451.dkr.ecr.us-east-1.amazonaws.com/cloudshop-catalog:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
          env:
            - name: FLASK_ENV
              value: "production"
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: cloudshop-db-secret
                  key: DATABASE_URI
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
