apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
  namespace: cloudshop
  labels:
    app: users
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: 420828412451.dkr.ecr.us-east-1.amazonaws.com/cloudshop-users:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: cloudshop-db-secret
                  key: DATABASE_URI
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
